{% extends 'master.html' %}
{% load static %}

{% block title %}Admin Lawyer{% endblock %}

{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'css/admin_dashboard_style.css' %}">
<style>
    #last_link {
        margin-bottom: 9.35rem;
    }
</style>
{% endblock %}

{% block main %}
<section>
    <div class="d-flex">
        <div class="border sidebar">
            <div class="list-group list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action sidebar">Admin Panel</a>
                <a href="/admin_lawyer" class="list-group-item list-group-item-action sidebar">Registered lawyers</a>
                <a href="/admin_user" class="list-group-item list-group-item-action sidebar">Registered Users</a>
                <a href="/feedbacks" class="list-group-item list-group-item-action sidebar" id="last_link">Feedbacks</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 mx-md-auto my-4 table-responsive">
                    <table class="table table-bordered table-primary align-middle">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Lawyer ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Full Address</th>
                                <th>City</th>
                                <th>Zip Code</th>
                                <th>Image</th>
                                <th>University / College</th>
                                <th>Degree</th>
                                <th>Passing Year</th>
                                <th>Practise Length</th>
                                <th>Handle Cases</th>
                                <th>Speciality</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for lawyer in lawyer_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ lawyer.lawyer_id }}</td>
                                <td>{{ lawyer.first_name }}</td>
                                <td>{{ lawyer.last_name }}</td>
                                <td>{{ lawyer.email }}</td>
                                <td>+91{{ lawyer.contact_number }}</td>
                                <td>{{ lawyer.full_address }}</td>
                                <td>{{ lawyer.city }}</td>
                                <td>{{ lawyer.zip_code }}</td>
                                <td><img src="{% static 'images/upload/' %}{{ lawyer.image }}" class="img-fluid"
                                        alt="Lawyer Image"></td>
                                <td>{{ lawyer.university_college }}</td>
                                <td>{{ lawyer.degree }}</td>
                                <td>{{ lawyer.passing_year }}</td>
                                <td>{{ lawyer.practise_length }}</td>
                                <td>{{ lawyer.case_handle }}</td>
                                <td>{{ lawyer.speciality }}</td>

                                {% if lawyer.status == 'Active' %}
                                <td>{{ lawyer.status }}</td>
                                {% else %}
                                <td>
                                    <a class="btn btn-sm btn-warning" href="/approve_lawyer/{{ lawyer.lawyer_id }}">Pending</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}