{% extends 'master.html' %}
{% load static %}

{% block title %}Search Lawyer{% endblock %}

{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'css/index_style.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/search_lawyer_style.css' %}">
{% endblock %}

{% block main %}
<section>
    <div class="container mt-4">
        <form method="POST" action="search_lawyer">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="experience" class="mb-1">Experience</label>
                        <select name="experience" class="form-control">
                            <option value="" selected>Choose...</option>
                            <option value="1-5 years">1-5 years</option>
                            <option value="6-10 years">6-10 years</option>
                            <option value="11-15 years">11-15 years</option>
                            <option value="16-20 years">16-20 years</option>
                            <option value="Most Senior">Most Senior</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="speciality" class="mb-1">Speciality</label>
                        <select name="speciality" class="form-control">
                            <option value="" selected>Choose...</option>
                            <option value="Criminal Law">Criminal law</option>
                            <option value="Civil Law">Civil law</option>
                            <option value="Environmental Law">Environmental law</option>
                            <option value="Corporate Law">Corporate law</option>
                            <option value="Cyber Law">Cyber law</option>
                            <option value="Bankruptcy Law">Bankruptcy law</option>
                            <option value="Securities Law">Securities law</option>
                            <option value="Family Law">Family law</option>
                            <option value="Military Law">Military law</option>
                            <option value="Contract Law">Contract law</option>
                            <option value="Labour Law">Labour law</option>
                            <option value="Government Law">Government law</option>
                            <option value="Tax Law">Tax law</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="location" class="mb-1">Location</label>
                    <select name="location" class="form-control">
                        <option value="" selected>Choose...</option>
                        <option value="Bhavnagar">Bhavnagar</option>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Vadodara">Vadodara</option>
                        <option value="Ahemdabad">Ahemdabad</option>
                    </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-8"></div>

                <div class="col-md-4 text-end">
                    <button id="button" type="submit" class="btn btn-primary" name="submit" value="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>&nbsp;
                        Search Lawyer</button>
                </div>
            </div>
        </form>
        <hr>
        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <div class="row" id="lawyer_data"></div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var lawyer_data = JSON.parse("{{ lawyer_data | escapejs }}");

        $.each(lawyer_data, function (index, row) {
            var lawyerData = `<div class="col-md-4" id="padding">
                                <div class="card shadow mb-4" id="card">
                                    <img src="static/images/upload/${row.image}" class="card-img-top" alt="lawyer image">

                                    <div class="card-body">
                                        <h5 class="card-title">${row.first_name} ${row.last_name}</h5>
                                        <h6 class="card-text">${row.speciality}</h6>
                                        <h6 class="card-text mb-3"><span>${row.practise_length}</span></h6>
                                        
                                        <a href="/single_lawyer/${row.lawyer_id}" class="btn text-white" id="lawyer_profile">View Full Profile
                                        </a>
                                    </div>
                                </div>
                            </div>`;

            $(`#lawyer_data`).append(lawyerData);
        });
    });
</script>
{% endblock %}