{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Message</title>
    {% block style %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/email_style.css' %}">
    {% endblock %}
</head>

<body>
    <table>
        <tr>
            <td>
                <h2>
                    Dear {{ first_name }}
                    <hr>
                    Your Account Information
                </h2>

                <h6>
                    <b> Full Name : </b>{{ first_name }} {{ last_name }}
                </h6>
                <h6>
                    <b> Your Email Address: </b>{{ email }}
                </h6>
                <h6>
                    <b> Your Password: </b>{{ password }}
                </h6>

                <p>Now you are Approved. You can login to the system</p>
                <a href='http://127.0.0.1:8000/login'>Login Here</a>
            </td>
        </tr>
    </table>
</body>

</html>