{% extends 'master.html' %}
{% load static %}

{% block title %}Update Password{% endblock %}

{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'css/lawyer_edit_profile_style.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/admin_dashboard_style.css' %}">
{% endblock %}

{% block main %}
<section>
    <div class="d-flex">
        <div class="border sidebar">
            <div class="list-group list-group-flush">
                <a href="/lawyer_edit_profile" class="list-group-item list-group-item-action sidebar">Edit Profile</a>
                <a href="/lawyer_booking" class="list-group-item list-group-item-action sidebar">Booking requests</a>
                <a href="/update_password_lawyer" class="list-group-item list-group-item-action sidebar" id="update_page">Update
                    Password</a>
            </div>
        </div>

        <div class="container p-5">
            <div class="row">
                <div class="col-md-10">
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Your Current Password is not valid!</strong> Please enter a valid current password.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    {% if error2 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>New Password must be different than Current Password.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    {% if error3 %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>New Password and Confirm Password must be the same.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    {% if done %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Password Successfully Updated.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    <form method="POST" action="update_password_lawyer" id="validateForm">
                        {% csrf_token %}
                        <div class="form-group mb-3 row">
                            <label for="current_password" class="col-sm-2 col-form-label">Current Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="current_password" class="form-control"
                                    id="current_password" placeholder="Enter your current password"
                                    required>
                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="new_password" class="form-control"
                                    id='new_password' placeholder="Enter your new password"
                                    required>
                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="confirm_password" class="form-control"
                                    id='confirm_password' placeholder="Re-enter your new password"
                                    required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-sm-10 offset-sm-2 mt-1">
                                <input type="submit" name="update" value="Update" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script>
    $(document).ready(function () {
        $('#validateForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                current_password: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter your Current Password '
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: 'Password Length must be 6 characters'
                        },
                    }
                },
                new_password: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter your New Password '
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: 'Password Length must be 6 characters'
                        },
                    }
                },
                confirm_password: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter your Confirm Password '
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: 'Password Length must be 6 characters'
                        },
                    }
                },
            }
        });
    });
</script>
{% endblock %}