{% extends 'master.html' %}
{% load static %}

{% block title %}User Edit Profile{% endblock %}

{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'css/lawyer_edit_profile_style.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/admin_dashboard_style.css' %}">
{% endblock %}

{% block main %}
<section>
    <div class="d-flex">
        <div class="border sidebar">
            <div class="list-group list-group-flush">
                <a href="/user_edit_profile" class="list-group-item list-group-item-action sidebar">Edit Profile</a>
                <a href="/user_booking" class="list-group-item list-group-item-action sidebar">My booking requests</a>
                <a href="/update_password_user" class="list-group-item list-group-item-action sidebar">Update
                    Password</a>
            </div>
        </div>

        <div class="container p-3">
            <div class="row">
                <div class="col-lg-8">
                    {% if done %}
                    <div id="alert" class="alert alert-success alert-dismissible fade show mt-3 mx-auto"
                        role="alert">
                        Your profile <strong>Sucessfully!</strong> updated.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    <form action="user_edit_profile" method="POST" id="validateForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="first_name" class="mt-2 mb-1">First Name</label>
                                <input type="text" class="form-control mb-1" name="first_name" id="first_name"
                                    placeholder="Enter your first name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="last_name" class="mt-2 mb-1">Last Name</label>
                                <input type="text" class="form-control mb-1" name="last_name" id="last_name"
                                    placeholder="Enter your last name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact_number" class="mt-2 mb-1">Contact Number</label>
                            <input type="text" class="form-control mb-1" name="contact_number" id="contact_number"
                                placeholder="Enter your contact number">
                        </div>

                        <div class="form-group">
                            <label for="email" class="mt-2 mb-1">Email</label>
                            <input type="email" class="form-control mb-1" id="email" name="email"
                                placeholder="Enter your email address">
                        </div>
                        {% if error %}
                        <script>
                            alert("{{ error }}");
                        </script>
                        {% endif %}

                        <div class="form-group">
                            <label for="image" class="mt-2 mb-1">Image</label>
                            <input type="file" name="image" id="image" class="form-control mb-1">
                        </div>
                        {% if message %}
                        <script>
                            alert("{{ message }}");
                        </script>
                        {% endif %}

                        <label for="address" class="mt-3 mb-2"><strong>Put Your address here </strong></label>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="full_address" class="mb-1">Full Address</label>
                                <input type="text" class="form-control mb-1" name="full_address" id="full_address"
                                    placeholder="Enter your full address">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="city" class="mb-1">City</label>
                                <select id="city" name="city" class="form-control mb-1">
                                    <option value="" selected>Choose...</option>
                                    <option value="Bhavnagar">Bhavnagar</option>
                                    <option value="Surat">Surat</option>
                                    <option value="Rajkot">Rajkot</option>
                                    <option value="Vadodara">Vadodara</option>
                                    <option value="Ahemdabad">Ahemdabad</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="zip_code" class="mb-1">Zip code</label>
                                <input type="text" class="form-control mb-1" name="zip_code" id="zip_code"
                                    placeholder="Enter your zip code">
                            </div>
                        </div>

                        <button type="submit" class="btn text-white mt-3" id="update">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script>
    $(document).ready(function () {
        $('#validateForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                contact_number: {
                    validators: {
                        stringLength: {
                            min: 10,
                            max: 10,
                            message: 'Contact Number must be 10 digits.'
                        },
                        numeric: {
                            message: ' The Phone No must be a number.'
                        },
                    }
                },
                zip_code: {
                    validators: {
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: 'Zip Code must be 4 digits.'
                        },
                        numeric: {
                            message: ' Zip Code must be a number.'
                        },
                    }
                },
            }
        });
    });
</script>
{% endblock %}