body {
    text-align: center;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
    max-height: 550px;
    display: block;
    margin: 0 auto;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0070f3;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}